html {
     scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 10px 10px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-link.active {
  color: #C67423;
  font-weight: bold;
  border-bottom: 2px solid #C67423;
}

/* Mobile Responsive Nav (Hamburger Menu) */
#menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  #menu-toggle {
    display: block;
  }

  #nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
  }

  #nav-links.show {
    display: flex;
  }

  #nav-links a {
    padding: 10px;
    text-decoration: none;
    color: black;
  }

  #nav-links a:hover {
    background-color: #f0f0f0;
  }
}
/* End Mobile Responsive Nav (Hamburger Menu) */


/* Back to Top Button */
#back-to-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  display: none;
  background: #C67423;
  color: white;
  border: none;
  padding: 10px 14px 10px 14px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
}

/* End Back to Top Button */

/* Animated Section Reveals */

section {
  padding: 15px 10px;
  /* min-height: 80vh; */
  scroll-margin-top: 80px;

  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

section.reveal {
  opacity: 1;
  transform: translateY(0);
}

/* End Animated Section Reveals */