<footer id="main-footer">
  <div class="footer-columns">
    <div class="footer-col">
      <h4>About Us</h4>
      <ul>
        <li><a href="#">Our Vision</a></li>
        <li><a href="#">Why Choose</a></li>
        <li><a href="#">Join Us</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Features</h4>
      <ul>
        <li><a href="#">Disease Detection</a></li>
        <li><a href="#">Smart Crop Recommendations</a></li>
        <li><a href="#">Provide Tailored Advice</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Resources</h4>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Tutorials</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Contact</h4>
      <ul>
        <li>
          <a href="mailto:enquiries@agrinova.org">enquiries@agrinova.org</a>
        </li>
        <li>
          <a href="https://wa.me/256776253197" target="_blank"
            >WhatsApp: +256 (771) 89 53 80</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-social">
      <a href="#" aria-label="X" class="footer-icon"
        ><i class="fab fa-x-twitter"></i
      ></a>
      <a href="#" aria-label="Facebook" class="footer-icon"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a href="#" aria-label="YouTube" class="footer-icon"
        ><i class="fab fa-youtube"></i
      ></a>
      <a href="#" aria-label="Instagram" class="footer-icon"
        ><i class="fab fa-instagram"></i
      ></a>
    </div>
  </div>
  <hr class="footer-separator" />
  <div class="footer-copyright">
    © Copyright 2025 | All Rights Reserved by Agrinova | Developed by Allan
    Ocung
  </div>
</footer>
